<h1>Забележителности</h1>

<div class="row">
  <div class="col">
    <img src="{{eastImage}}" class="img-fluid rounded-circle mx-auto d-block"/>
    <h3><a routerLink="east">Източни Родопи</a></h3>
    <p>Родопа планина е позната от векове като Свещената планина. Сред впечатляващата си природа Изторните Родопи крият скални форми, светилища, окултни храмове и енергийни полета, за които и до днес учените не могат да дадат обяснение. </p>
  </div>
  <div class="col">
    <img src="{{westImage}}" class="img-fluid rounded-circle mx-auto d-block"/>
    <h3><a routerLink="west">Западни Родопи</a></h3>
    <p>Родопите са магнетична планина, а в западния ѝ дял в своята прегръдка по витите планински пътеки под сенките на вековни гори е стъпвал Орфей, омайвайки хора и животни с изкусната си лира.</p>
  </div>
</div>