h1, h4 {
    font-family: 'EB Garamond';
    color: #AF9453;
}

h1 {
    font-size: 4vw;
    text-align: center;
    position: relative;
    padding-top: 100px;
    margin-bottom: 40px;
}

h4 {
    font-size: 2vw;
    margin-bottom: 15px;
    font-weight: bold;
}

#error {
    color: red;
    text-align: center;
    font-size: 3vw;
}

.media {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #AF9453;
}


.table, h5, p {
    margin-top: 15px;
    color: #AF9453;
}

thead {
    border-bottom: 1px solid #AF9453;
    font-weight: bold;
}

b{
    font-weight: bold;
}