.row {
    width: 98%;
    margin-bottom: 15px;
    margin-top: 50px;
}

h1, h3, p {
    font-family: 'EB Garamond';
    color: #AF9453;
    text-align: center;
    position: relative;
}

h1 {
    font-size: 4vw;
    padding-top: 100px;
}

img {
    width: 40%;
    margin-bottom: 35px;
    margin-top: 35px;
}

h3 {
    font-size: 1.5vw;
    letter-spacing: 5px;
    margin-bottom: 15px;
}

p {
    font-family: 'Brandon Grotesque';
    letter-spacing: 3px;
    line-height: 20px;
    padding: 0 25%;
}

a {
    color: #AF9453;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: rgba(175, 147, 83, 0.685);
}