nav{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.color{
    color: #AF9453;
}

.color:hover {
    color: rgba(175, 147, 83, 0.685);
}

.navbar-brand {
    font-size: 1em;
    text-transform: uppercase;
    color: #AF9453;
}

#logo {
    width: 50%;
}

#pageTitle {
    position: absolute;
    margin-left: 15px;
    margin-top: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a:hover, .logout:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.account {
    color: #AF9453;
}

.user {
    margin-left: -40px;
}

.logout {
    cursor: pointer;
}