.sidebar {
    padding-top: 70px;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
    
  .sidebar a {
    display: block;
    color: #AF9453;
    padding: 16px;
    text-decoration: none;
  }

  .sidebar a.active {
    background-color: #ddd;
    color: white;
  }

  .sidebar a:hover:not(.active) {
    background-color: #ddd;
    color: rgba(175, 147, 83, 0.685);
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }