<nav class="navbar navbar-expand-md bg-light navbar-light">
  <a class="navbar-brand" href="/">
      <img id="logo" src="../assets/images/tree.png"/>
      <span class="color" id="pageTitle">Опознай Родопите</span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse flex-grow-1 text-right" id="collapsibleNavbar">
      <ul class="navbar-nav ml-auto flex-nowrap">
          <li class="nav-item">
              <a class="nav-link m-2 menu-item nav-active" routerLink="/"><span class="color">Начало</span></a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link m-2 menu-item" routerLink="landscapes">
                  <span class="color">Забележителности<b class="caret"></b></span>
              </a>
              <ul class="dropdown-content dropdown-menu">
                  <li>
                      <a class="dropdown-item" routerLink="landscapes/west"><span class="color">Западни Родопи</span></a>
                  </li>
                  <li>
                      <a class="dropdown-item" routerLink="landscapes/east"><span class="color">Източни Родопи</span></a>
                  </li>
              </ul>
          </li>
          <li class="nav-item">
              <a class="nav-link m-2 menu-item" routerLink="tripplan"><span class="color">Планирай пътуване</span></a>
          </li> 
          <li class="nav-item dropdown">
              <a class="nav-link m-2 menu-item dropdown" routerLink="gallery"><span class="color">Галерия</span></a>
              <ul class="dropdown-content dropdown-menu">
                <li>
                    <a class="dropdown-item" routerLink="gallery/west"><span class="color">Западни Родопи</span></a>
                </li>
                <li>
                    <a class="dropdown-item" routerLink="gallery/east"><span class="color">Източни Родопи</span></a>
                </li>
            </ul>
          </li>
          <li *ngIf="!logCookie" class="nav-item">
              <a class="nav-link m-2 menu-item" routerLink="login"><span class="color">Вход</span></a>
          </li> 
          <li *ngIf="logCookie" class="nav-item dropdown">
            <a class="nav-link m-2 menu-item dropdown" routerLink="user/info"><span class="material-icons account color">account_circle</span></a>
            <ul class="dropdown-content dropdown-menu user">
                <li>
                    <a class="dropdown-item" routerLink="user/info"><span class="color">Профил</span></a>
                </li>
                <li>
                    <span (click)="logOut()" class="dropdown-item color logout">Изход</span>
                </li>
            </ul>
        </li>  
      </ul>
  </div>  
</nav>
