<app-sidebar></app-sidebar>

<h1>{{ header }}</h1>

<ul>
  <li *ngFor="let landscape of landscapes">
    <div class="media border p-3">
      <div class="media-body">
        <h4>
          {{ landscape }}   
          <span id="btn-container">
              <span class="btn-group">
                  <button (click)="deleteLandscape(landscape)" type="button" title="Изтрий" class="btn mdc-icon-button material-icons notFav">delete_forever</button>
              </span>
            </span>
        </h4> 
      </div>
    </div>  
  </li>
</ul>