#container {
    position: relative;
    margin-left: 200px;
}

#error {
    color: red;
    text-align: center;
    font-size: 3vw;
}

h1 {
    font-family: 'EB Garamond';
    color: #AF9453;
    font-size: 4vw;
    text-align: center;
    position: relative;
    padding-top: 100px;
    margin-bottom: 40px;
}

form {
    background: #FBFBFB;
    width: 50%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

label, option {
    color: #AF9453;
}

label:not([class]) {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    border: none;
    border-bottom: 1px solid #AF9453;
    background: #FBFBFB;
    color: #AF9453;
}

button {
    width: 100%;
    background: rgba(175, 147, 83, 0.685);
    color: white;
}

button:hover {
    background: #AF9453;
}