.error {
    color: red;
    text-align: center;
    font-size: 3vw;
}

h1, h4 {
    font-family: 'EB Garamond';
    color: #AF9453;
}

h1 {
    font-size: 4vw;
    text-align: center;
    position: relative;
    padding-top: 100px;
    margin-bottom: 40px;
}

h4 {
    font-size: 2vw;
    margin-bottom: 15px;
    font-weight: bold;
}

a {
    color: #AF9453;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: rgba(175, 147, 83, 0.685);
}

p {
    text-align: justify;
    margin-bottom: 15px;
    font-size: 1.5vw;
}

img {
    width: 15%;
}

#btn-container {
    float: right;
}

.btn {
    border-radius: 50%;
    background: rgba(175, 147, 83, 0.061);
    margin: 5px;
}

.btn:hover {
    background: rgba(175, 147, 83, 0.685);
}

.remove {
    background: rgba(175, 147, 83, 0.685);
}

.media {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #AF9453;
}

.notFav, .add, .visited, .more {
    color: #AF9453;
}

form {
    margin-bottom: 30px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 100%;
}