<h1>{{ rhodopesPart === 'west' ? 'Западни' : 'Източни' }} Родопи</h1>

<form class="form">
    <span class="glyphicon glyphicon-search form-control-feedback"></span>
    <input [(ngModel)]="searchText" name="filter"class="form-control" type="text" placeholder="Search" aria-label="Search" mdbInputDirective>
</form>

<ul>
    <li *ngFor="let landmark of landmarks | filter: searchText">
        <div class="media border p-3">
            <img src="{{ landmark.image }}" class="mr-3 mt-3 rounded-circle"/>
            <div class="media-body">
                <h4><a routerLink="/landscapes/{{ rhodopesPart }}/{{landmark.name}}">{{ landmark.name }}</a></h4>
                <p>{{ landmark.shortInfo }}</p> 
                <p>Рейтинг: {{landmark.rating}}</p>     
                <div id="btn-container">
                    <div class="btn-group">
                        <button *ngIf="!favorite" (click)="addLandscape(landmark.name, 'favorite')" type="button" title="Любими" class="btn mdc-icon-button material-icons notFav">favorite_border</button>
                        <button *ngIf="favorite" (click)="addLandscape(landmark.name, 'favorite')" type="button" title="Любими" class="btn mdc-icon-button material-icons notFav">favorite</button>
                    </div>
                    <div class="btn-group">
                        <button *ngIf="!wantToVisit" (click)="addLandscape(landmark.name, 'wantToVisit')" type="button" title="Добави" class="btn mdc-icon-button material-icons add">add_location</button>
                        <button *ngIf="wantToVisit" (click)="addLandscape(landmark.name, 'wantToVisit')" type="button" title="Добави" class="btn mdc-icon-button material-icons remove">add_location</button>
                    </div>
                    <div class="btn-group">
                        <button *ngIf="!visited" (click)="addLandscape(landmark.name, 'visited')" type="button" title="Посетено" class="btn mdc-icon-button material-icons visited">place</button>
                        <button *ngIf="visited" (click)="addLandscape(landmark.name, 'visited')" type="button" title="Посетено" class="btn mdc-icon-button material-icons remove">place</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" (click)="viewLandscape(landmark.name)" title="Прочети още" class="btn mdc-icon-button material-icons more">more</button>
                    </div>
                </div>
            </div>
        </div>  
    </li>
</ul>

