<app-sidebar></app-sidebar>

<div class="container">
    <div class="row">
        <div class="col-md-4 img">
            <img *ngIf="!user.image" src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"  alt="" class="img-rounded">
            <img *ngIf="user.image" src="{{user.image}}"  alt="" class="img-rounded">
            <input style="display: none" type="file" (change)="onFileSelected($event)" #fileInput class="btn">
            <button (click)="fileInput.click()" class="btn">Избери снимка</button>
            <button *ngIf="selectedFile" type="button" (click)="onUpload()" class="btn">Качи снимка</button> 
        </div>
        <div class="col-md-8 details bg-light">
            <blockquote>
                <h3>{{user.userName}}</h3>
                <h6>{{user.email}}</h6>
            </blockquote>
        </div>
    </div>
</div>