.container {
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
}

#error,#uploadError {
    color: red;
    text-align: center;
}
  
#error {
    font-size: 3vw;
}

#uploadError {
    size: 2vw;
}

img{
    border-radius: 50%;
    margin-left: 125px;
    width: 200px;
}

.details{
    border-left:3px solid rgba(175, 147, 83, 0.685);
}

h3 {
    padding-top: 50px;
    font-size: 3vw;
    font-weight: bold;
    letter-spacing: 10px;
    text-transform: uppercase;
}

h6 {
    font-style: italic;
    margin-top: 20px;
    font-size: 1.5vw;
    letter-spacing: 1px;
}

.details p{
    font-size:15px;
    font-weight:bold;
}

blockquote {
    text-align: center;
}

button {
    width: 150px;
    background: rgba(175, 147, 83, 0.685);
    margin-bottom: 15px;
    display: block;
    margin-left: 140px;
    margin-right: auto;
    margin-top: 15px;
    color: white;
}

button:hover {
    background: #AF9453;
}